<%= render 'shared/navbar' %>

<div class="px-2 mt-2">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name", class: 'mb-2' },
                  label: false,
                  placeholder: 'Name' %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: 'mb-2', },
                  label: false,
                  placeholder: 'Email' %>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password", class: 'mb-2' },
                  label: false,
                  placeholder: 'Password' %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", class: 'mb-2' },
                  label: false,
                  placeholder: 'Password Confirmation' %>
    </div>

    <div class="fixed-bottom">
      <div class="d-grid gap-2 p-3 bg-primary text-white">
        <%= f.button :submit, "Sign up", class: 'btn btn-outline-light py-2 w-100' %>
      </div>
    </div>

  <% end %>
</div>