<div class="p-3 pb-0 bg-primary text-white">
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to request.referer.present? ? request.referer : authenticated_root_path do %>
        <i class="fas fa-angle-double-left text-white fs-1"></i>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item proxima-bold">
            <%= user_name %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle proxima-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu proxima-bold" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <li><%= link_to 'Projects', projects_path, class: 'dropdown-item proxima-bold' %></li>
                <li><%= link_to 'External Projects', external_path, class: 'dropdown-item proxima-bold' %></li>
                <li><%= link_to 'Groups', groups_path, class: 'dropdown-item proxima-bold' %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Create New Project', new_project_path, class: 'dropdown-item proxima-bold' %></li>
                <li><%= link_to 'Create New Group', new_group_path, class: 'dropdown-item proxima-bold' %></li>
              <% else %>
                <%= link_to 'Log in', new_user_session_path, class: 'dropdown-item proxima-bold' %>
                <%= link_to 'Sign in', new_user_registration_path, class: 'dropdown-item proxima-bold' %>
              <% end %>
            </ul>
          </li>
          <% if signed_in? %>
            <li class="nav-item proxima-bold">
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link proxima-bold' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
