<%= render 'shared/navbar' %>

<div class="bg-primary" style="height: 100vh">
  <%= profile_picture %>>

  <h3 class="py-3 text-center text-white">
    <%= current_user.name.capitalize %>
  </h3>


  <ul class="list-group list-group-flush px-4">
    <li class="list-group-item bg-primary border-white">
      <div class="d-flex justify-content-start align-items-center text-white fs-menu py-1">
        <i class="fas fa-user pe-4"></i>
        <%= link_to 'All My Projects', projects_path, class: 'text-white text-decoration-none' %>
      </div>
    </li>

    <li class="list-group-item bg-primary border-white">
      <div class="d-flex justify-content-start align-items-center text-white fs-menu py-1">
        <i class="fas fa-users-slash pe-3"></i>
        <%= link_to 'My External Projects', external_path, class: 'text-white text-decoration-none' %>
      </div>
    </li>

    <li class="list-group-item bg-primary border-white ">
      <div class="d-flex justify-content-start align-items-center text-white fs-menu py-1">
        <i class="fas fa-users pe-3"></i>
        <%= link_to 'All Groups', groups_path, class: 'text-white text-decoration-none' %>
      </div>
    </li>
  </ul>
</div>