<%= render 'shared/navbar' %>

<div class="px-2 mt-2">
  <%= simple_form_for @project do |f| %>
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name", class: 'mb-2 proxima-light' },
                label: false,
                placeholder: 'Project\'s name' %>
    <%= f.input :time,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name", class: 'mb-2 proxima-light' },
                label: false,
                placeholder: 'Enter estimated hours .' %>
    <%= f.input :groups,
                collection: @group,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name", class: 'mb-2 proxima-light text-muted' },
                label: false,
                prompt: "Select your group"%>
    <div class="fixed-bottom">
      <div class="d-grid gap-2 p-3 bg-primary text-white">
        <%= f.button :submit, "Create Project", class: 'btn btn-outline-light py-2 w-100 proxima-light' %>
      </div>
    </div>

  <% end %>
</div>